{% extends 'common.html' %}
{% block title %}<title>参数列表</title>{% endblock %}
{% block body_block %}
    <div><h1>参数列表</h1></div>
    <div><h2></h2>
    <form class="form-inline" method="get" >
        <div class="form-group input-group">
            <div class="input-group-addon">章节：</div>
            <input type="text" class="form-control" name="q" id="q" placeholder="chapter_id">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"
                        onclick="load()">搜索
                </button>
            </div>
        </div>
    </form>
    <div>
        {#        {{ list }}<br>#}
        <table class="table table-striped">
            <thead>
            <tr>
                {#                <th></th>#}
                <th>变量名</th>
                <th>值</th>
                <th>计量单位</th>
                <th>所属模块</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    {#                    <td class="col-lg-2">{{ list }}</td>#}
                    <td class="col-lg-2">{{ item.2 }}</td>
                    <td class="col-lg-2">{{ item.3 }}</td>
                    <td class="col-lg-2">{{ item.4 }}</td>
                    <td class="col-lg-2">{{ item.5 }}</td>
                    <td class="col-lg-2">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pModal"
                                onclick="editpara({{ item }})">编辑
                        </button>
                        {#                        <button type="button" class="btn btn-danger">删除</button>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 编辑参数模态框 -->
    <div class="modal fade" id="pModal" tabindex="-1" role="dialog" aria-labelledby="pModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="pModalLabel">编辑变量</h4>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form role="form" method="post" style="margin-left: 10px; margin-right: 10px">
                        <div class="form-group">
                            <label for="chapter" class="control-label">所属章节:</label>
                            <input type="text" class="form-control" id="chapter" Disabled>
                        </div>
                        <div class="form-group">
                            <label for="parameter" class="control-label">变量名:</label>
                            <input type="text" class="form-control" id="parameter" Disabled>
                        </div>
                        <div class="form-group">
                            <label for="value" class="control-label">值:</label>
                            <input type="text" class="form-control" id="value">
                        </div>
                        <div class="form-group">
                            <label for="unit" class="control-label">计量单位:</label>
                            <input type="text" class="form-control" id="unit" Disabled>
                        </div>
                    </form>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script>
        function load() {
            let chpid = q.value;
            {#console.log(chpid)#}
            $.ajax({
                {#data: $(this).serialize(),#}
                data:{'q':chpid},
                type: 'get',
                url: 'demo',
                success: function (response) {
                    console.log(response);
                    if (response['success']) {
                        alert("Successfully sent the URL to Django");
                    }
                    ;
                    if (response['error']) {
                        {#$('#feedbackmessage').html("<div class='alert alert-danger'>" +#}
                        {#    response['error']['comment'] + "</div>");#}
                         alert("Could not send URL to Django. Error: " + response['error']['comment']);
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            })
        }

        function editpara(obj) {
            {#var tr = $(obj).parent().parent();#}
            console.log(obj);
            /* var chapter = tr.children("td#title").text();
             var parameter = tr.children("td#body").text();
             var unit = tr.children("td#body").text();
             $('#chapter').val(chapter);
             $('#parameter').val(parameter);
             $('#unit').val(unit);*/
            $('#exampleModal').modal('show')
        };
    </script>
{% endblock %}


