{% extends 'common.html' %}
{% block body_block %}
<div><h1>参数列表</h1></div>
<div>
    {{ paras }}<br>

    {% for para in paras %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>参数名</th>
                <th>参数含义</th>
                <th>值</th>
                <th>单位</th>
                <th>所属模块</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="col-lg-1">i</th>
                <td class="col-lg-2">{{ para.0 }}</td>
                <td class="col-lg-2">{{ para.1 }}</td>
                <td class="col-lg-2"></td>
                <td class="col-lg-2">{{ para.2 }}</td>
                <td class="col-lg-2">{{ para.3 }}</td>
            </tr>
            </tbody>
        </table>
        </div>

    {% endfor %}
{% endblock %}

