{% extends 'common.html' %}
{% block title %}<title>填写报告</title>{% endblock %}
{% block css_block %}
    <link rel="icon" type="image/png" href="https://c.cksource.com/a/1/logos/ckeditor5.png">
    <link rel="stylesheet" type="text/css" href="/static/CKEditor/ckeditorstyles.css">
{% endblock %}
{% block body_block %}
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                {#                左上角#}
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="index.html">
                            <img class="img-fluid" src="/static/assets/images/logo.png" alt="Theme-Logo"/>
                        </a>
                    </div>

                    {#                标题栏#}
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/static/assets/images/avatar-4.jpg" class="img-radius"
                                         alt="User-Profile-Image">
                                    <span>John Doe</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    {% comment %} <li class="waves-effect waves-light">
                                    <a href="#!">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>{% endcomment %}
                                    <li class="waves-effect waves-light">
                                        <a href="auth-normal-sign-in.html">
                                            <i class="ti-layout-sidebar-left"></i> 退出
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    {#                    左侧导航栏#}
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">报告管理</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-menu-alt"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">报告列表</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">报告详情</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-agenda"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">首页</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark active">
                                            <span class="pcoded-micon">
                                                <i class="ti-agenda"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">研究综述</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/tooltip/" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-agenda"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">主要仪器、试药和对照品信息</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-agenda"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">分析方法</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-agenda"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">方法学验证</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu pcoded-trigger">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-agenda"></i></span>
                                            <span class="pcoded-mtext"
                                                  data-i18n="nav.basic-components.main">验证结果</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" ">
                                                <a href="#" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">系统适用性</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext"
                                                          data-i18n="nav.basic-components.breadcrumbs">专属性</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                    <span class="pcoded-mtext"
                                                          data-i18n="nav.basic-components.breadcrumbs">线性及范围</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">配置</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-settings"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">变量配置</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-settings"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">表配置</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="ti-settings"></i>
                                                <b>D</b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">模板定义</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    {#                    页面内容#}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Bootstrap tab card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>1.研究综述</h4>
                                                        {#                                                        <span>章节名称</span>#}
                                                    </div>
                                                    <div class="card-block">
                                                        <!-- Row start -->
                                                        <div class="row ">
                                                            <!-- 页签面板 -->
                                                            <div class="col-lg-12 col-xl-6" style="padding-right: 5px">
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-tabs tabs" role="tablist">
                                                                    <li  class="nav-item active">
                                                                        <a class="nav-link "
                                                                            href="#parameter1" role="tab" data-toggle="tab">变量</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a href="#table1" class="nav-link" role="tab"
                                                                                               data-toggle="tab">表</a>
                                                                    </li>
                                                                </ul>
                                                               {% comment %} <ul class="nav nav-tabs tabs" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab"
                                                                           href="#parameter1" role="tab">变量</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                           href="#table1" role="tab">表</a>
                                                                    </li>
                                                                </ul>{% endcomment %}
                                                                <!-- Tab panes -->
                                                                <div class="tab-content tabs card-block">
                                                                    <div class="tab-pane active" id="parameter1"
                                                                         role="tabpanel">
                                                                        <div>
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                <tr>
                                                                                    {#                <th></th>#}
                                                                                    <th>变量名</th>
                                                                                    <th>值</th>
                                                                                    <th>计量单位</th>
                                                                                    <th>操作</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for item in list %}
                                                                                    <tr>
                                                                                        {#                    <td class="col-lg-2">{{ list }}</td>#}
                                                                                        <td class="col-lg-2">{{ item.display_name }}</td>
                                                                                        <td class="col-lg-2">{{ item.testvalue__value }}</td>
                                                                                        <td class="col-lg-2">{{ item.unit }}</td>
                                                                                        <td class="col-lg-2">
                                                                                            <button type="button"
                                                                                                    class="btn btn-primary"
                                                                                                    data-toggle="modal"
                                                                                                    data-target="#pModal"
                                                                                                    onclick="editpara({{ item|safe }})">
                                                                                                编辑
                                                                                            </button>
                                                                                            {#                        <button type="button" class="btn btn-danger">删除</button>#}
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="table1" role="tabpanel">
                                                                        <p class="m-0">2. Cras consequat in enim ut
                                                                            efficitur. Nulla posuere elit quis auctor
                                                                            interdum praesent sit amet nulla vel enim
                                                                            amet. Donec convallis tellus neque, et
                                                                            imperdiet felis amet.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- 富文本编辑框 -->
                                                            <div class="col-lg-12 col-xl-6">
                                                                {#                                                                <div id="editor">#}
                                                                <div class="row col-lg-12" style="padding-right:0">
                                                                    <div class="document-editor__toolbar"></div>
                                                                </div>
                                                                <div class="row row-editor col-lg-12">
                                                                    <div class="editor-container" style="border: 1px solid hsl(0, 0%, 77%);">
                                                                        <div class="editor"></div>
                                                                    </div>
                                                                </div>
                                                                {#                                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {#                                        显示结果#}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Box tooltip card start -->
                                                <div class="card o-visible">
                                                    <div class="card-header">
                                                        <h4>结果预览</h4>
                                                    </div>
                                                    <div class="card-block">
                                                        <p>Use class <code>tooltip-effect-1 tooltip-content4</code> to
                                                            use this
                                                            <span class="mytooltip tooltip-effect-1">
                                                  <span class="tooltip-item2">Euclid</span>
                                                  <span class="tooltip-content4 clearfix">
                                                      <span class="tooltip-text2">
                                                        <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I.
                                                        <a href="#">Wikipedia</a>
                                                    </span>
                                                </span>
                                            </span>
                                                            current effect. rogue laws of physics, star stuff harvesting
                                                            star light, <span class="mytooltip tooltip-effect-2"><span
                                                                    class="tooltip-item2">quasar</span><span
                                                                    class="tooltip-content4 clearfix"><span
                                                                    class="tooltip-text2"><strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... <a
                                                                    href="#">Wikipedia</a></span></span>
                                        </span> encyclopaedia galactica are creatures of the cosmos the only home we've
                                                            ever known ship of the imagination prime number courage of
                                                            our questions.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="/static/CKEditor/ckeditor.js"></script>
    <script>
        DecoupledDocumentEditor
            .create(document.querySelector('.editor'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'fontSize',
                        'fontFamily',
                        {#'|',#}
                        {#'fontColor',#}
                        'fontBackgroundColor',
                        {#'|',#}
                        'bold',
                        {#'underline',#}
                        {#'strikethrough',#}
                        '|',
                        'alignment',
                        '|',
                        'numberedList',
                        {#'bulletedList',#}
                        '|',
                        'outdent',
                        'indent',
                        '|',
                        {#'link',#}
                        {#'blockQuote',#}
                        'imageUpload',
                        {#'insertTable',#}
                        {#'mediaEmbed',#}
                        '|',
                        'undo',
                        'redo',
                        'code',
                        'htmlEmbed'
                    ],
                    shouldNotGroupWhenFull: true
                },
                language: 'zh-cn',
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
                // Set a custom container for the toolbar.
                document.querySelector('.document-editor__toolbar').appendChild(editor.ui.view.toolbar.element);
                document.querySelector('.ck-toolbar').classList.add('ck-reset_all');
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: jqy0xmyycnos-nx2v6m9150m3');
                console.error(error);
            });
    </script>
{% endblock %}